<!DOCTYPE html>
<html lang="en">

<head>
	<title>Welcome!</title>
	<meta charset="utf-8" />
	{% load static %}
	
	<!-- Bootstrap CSS CDN -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- jQuery CDN -->
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
	<!-- Bootstrap Javascript CDN -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
</head>	

<body>
	<style type="text/css">
		body{ background-color: #f6f6f6
		}
	</style>
		
		<div class="row">
			<nav class="navbar navbar-inverse">
  				<div class="container-fluid">
  				<ul class="nav navbar-nav">
  					<li><a href="/">Home</a></li>
				</ul>
  				</div>
			</nav>
		</div>
		</div>


					<br>
				<div class="col-sm-12">
					<center>
						<h3>Lateef Adetona Adobe Coding Challenge 2017!</h3>
					</center>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="col-sm-12">
				<br><br>
				{% block content %}
			   {% endblock %}
			</div>
		</div>

		
	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p>| <a href="https://www.linkedin.com/in/lateefadetona
" target="blank">LinkedIn</a> 
		</div>
	</footer>

</body>
</html>